@media screen and (max-width: 576px) {
  /* navbar section responsive start for small devices*/
  .navbar-logo-text,
  .navbar-menu,
  .navbar-btn-div {
    display: none;
  }
  .navbar-threeline-icon-div {
    display: block;
    padding: 0 16px 0 0;
  }
  .navbar-logo {
    padding: 0 0 0 16px;
  }
  .navbar-underline {
    display: block;
  }
  /* navbar section responsive end for small devices */
  /* banner section responsive start for small devices*/
  .banner-section {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-section{
    margin-bottom: 0px;
  }
  .banner-content-img {
    width: 100%;
    margin-top: 20px;
  }
  .banner-content {
    padding: 0 10px;
  }
  .banner-content-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .banner-content-text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
  }
  .banner-content-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  /* banner section responsive end for small devices */
  /* curriculum section responsive start for small devices */

  .curriculum-content{
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .curriculum-content-box{
    padding: 36px 28px;
  }

  .primary-heading{
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .curriculum-arrow-div{
    display: none;
  }
  .curriculum-section-title{
    padding: 0 0 0 0;
  }
  .curriculum-content-box-title{
    font-size: 1.2rem;
    margin-bottom: 22px;
  }
  .curriculum-content-box-description{
    font-size: 0.8rem;
    margin-bottom: 18px;
    line-height: 20px;
  }
  .curriculum-content-box-more{
    font-size: 0.8rem;
    margin: 0px;
  }
  /* curriculum section responsive end for small devices */
}





/* .................................................... */





@media screen and (min-width: 576px) and (max-width: 992px) {
  /* navbar section responsive start for medium devices*/
  .navbar-logo-text,
  .navbar-btn-div {
    display: none;
  }
  .navbar-threeline-icon-div {
    display: block;
    padding: 0 16px 0 0;
  }
  .navbar-logo {
    padding: 0 0 0 16px;
  }
  .navbar-underline {
    display: block;
  }
  /* navbar section responsive end for medium devices*/
  /* banner section responsive start for mid devices */
  .banner-section {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-content-text {
    text-align: center;
  }
  /* banner section responsive end for mid devices */
  /* curriculum section responsive start for mid devices */
  .curriculum-content{
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }
  .curriculum-arrow-div{
    display: none;
  }
  /* curriculum section responsive end for mid devices */
  
}
